{:node {:config-dir "test-data/conf"
        :log-dir "test-data/log"
        :data-dir "test-data/data"}
 :raft {:log {:type :memory :args {}}
        :server-config {:servers []}
        :server-state {}}}
